<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.dao.MemberDao">
    <select id="findByUsername" resultType="com.boot.dto.MemberDto">
        SELECT
            username,
            password,
            email,
            email_verified as emailVerified,
            email_verification_token as emailVerificationToken
        FROM
            member
        WHERE
            username = #{username}
    </select>

    <select id="findByEmail" resultType="com.boot.dto.MemberDto">
        SELECT
            username,
            password,
            email,
            email_verified as emailVerified,
            email_verification_token as emailVerificationToken
        FROM
            member
        WHERE
            email = #{email}
    </select>

    <select id="findByToken" resultType="com.boot.dto.MemberDto">
        SELECT
            username,
            password,
            email,
            email_verified as emailVerified,
            email_verification_token as emailVerificationToken
        FROM
            member
        WHERE
            email_verification_token = #{token}
    </select>

    <insert id="save" parameterType="com.boot.dto.MemberDto">
        INSERT INTO member (username, password, email, email_verified, email_verification_token)
        VALUES (#{username}, #{password}, #{email}, #{emailVerified}, #{emailVerificationToken})
    </insert>

    <update id="updateEmailVerified">
        UPDATE member
        SET email_verified = #{emailVerified},
            email_verification_token = null
        WHERE username = #{username}
    </update>

    <update id="updatePassword">
        UPDATE member
        SET password = #{password}
        WHERE username = #{username}
    </update>
</mapper>
