<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.dao.UserVehicleDao">

    <resultMap id="userVehicleResultMap" type="com.boot.dto.UserVehicleDto">
        <id property="id" column="ID"/>
        <result property="username" column="USERNAME"/>
        <result property="maker" column="MAKER"/>
        <result property="carModel" column="MODEL_NAME"/>
    </resultMap>

    <insert id="save" parameterType="com.boot.dto.UserVehicleDto">
        INSERT INTO USER_VEHICLE (USERNAME, MAKER, MODEL_NAME)
        VALUES (#{username}, #{maker}, #{carModel})
    </insert>

    <select id="findByUsername" parameterType="String" resultMap="userVehicleResultMap">
        SELECT ID, USERNAME, MAKER, MODEL_NAME
        FROM USER_VEHICLE
        WHERE USERNAME = #{username}
    </select>

    <select id="findUsernamesByCarModel" parameterType="String" resultType="String">
        SELECT DISTINCT USERNAME
        FROM USER_VEHICLE
        WHERE MODEL_NAME = #{carModel}
    </select>

    <delete id="delete" parameterType="long">
        DELETE FROM USER_VEHICLE WHERE ID = #{id}
    </delete>
</mapper>